/* Media Queries */

/* Smaller computer screens */
@media only screen and (max-width: 1200px) {
	.hero-text-box {
		width: 100%; /* Instead of fixed width 1140px. */
		padding: 0 2%; /* Because width was reset, must add left and right padding. */
	}

	/* All rows */
	.row { padding: 0 2%; }
}

/* iPad: 768px to 1023px */
@media only screen and (max-width: 1023px) {
	body { font-size: 18px; } /* All other font sizes are percentages and will adjust accordingly. */
	
	section { padding: 60px 0; } /* Reduce top and bottom padding so there is not too much white space on smaller screens. */

	.long-copy {
		width: 80%; /* Increased -- was too narrow on smaller screens. */
		margin-left: 10%; /* Must redo this math accordingly to center this class. (10% + 80% + 10%) */
	}

}

/* Medium Phones: 481px to 767px */
@media only screen and (max-width: 767px) {

}

/* Small Phones: 0px to 480px */
@media only screen and (max-width: 480px) {

}