/* Media Queries */

/* Smaller computer screens */
@media only screen and (max-width: 1200px) {
	.hero-text-box {
		width: 100%; /* Instead of fixed width 1140px. */
		padding: 0 2%; /* Because width was reset, must add left and right padding. */
	}

	/* All rows */
	.row { padding: 0 2%; }
}

/* iPad: 768px to 1023px */
@media only screen and (max-width: 1023px) {
	
	body { font-size: 18px; } /* All other font sizes are percentages and will adjust accordingly. */
	
	section { padding: 60px 0; } /* Reduce top and bottom padding so there is not too much white space on smaller screens. */

	.long-copy {
		width: 80%; /* Increased -- was too narrow on smaller screens. */
		margin-left: 10%; /* Must recalculate accordingly to center this class. (10% + 80% + 10%) */
	}

	/* HOW IT WORKS */

	.steps-box:first-child,
	.steps-box:last-child {
		margin-top: 10px; /* Reduce vertical whitespace. */
	}

	.works-step { margin-bottom: 40px; }

	.works-step:last-of-type { margin-bottom: 60px; }

	.app-screen { width: 50%; } /* Percentage of the .steps-box that it's in. */

	.btn-app img { height: 48px; } /* Reduced by 2px to fit them on one line. */

	/* CITIES */

	.icon-small {
		width: 17px; /* Decreased from 30px wide. */
		margin-right: 5px; /* Decreased from 5px. */
	}

	.city-feature { font-size: 77%; } /* Largest possible font that would keep each bullet point on one line. */

	.plan-box {
		width: 100%; /* Increased from 90%. */
		margin-left: 0%; /* Must recalculate accordingly to center this class. (100% - 100% = 0%) */
		font-size: 84%; /* Largest possible font that would keep each bullet point on one line. */
	}

	.plan-price {
		font-size: 250%; /* Decreased from 300%. */
		font-weight: 300; /* Increased back to normal because font-size was decreased. */
	}

	/* CONTACT FORM */

	.contact-form {
		width: 80%; /* Increased from 60%. */
	}

}

/* Medium Phones: 481px to 767px */
@media only screen and (max-width: 767px) {

}

/* Small Phones: 0px to 480px */
@media only screen and (max-width: 480px) {

}