/*color: #e67e22;*/

/*-------------------------------------
BASIC SETUP
-------------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus {
	outline: none; /* Removes automatic browser borders from form fields. */
}

html {
	color: #555; /*grey*/
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1;}
/* Clear the float after an element: */
.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/*-------------------------------------
REUSABLE COMPONENTS
-------------------------------------*/

.row {
	/*This is the only width we will define in px instead of %*/
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 80px 0;
}

.box {
	padding: 1%;
}

/* ----- HEADINGS ----- */

h1,
h2,
h3 {
	font-weight: 300; /*Decrease font-weight because font-size is large.*/
	text-transform: uppercase; /*Capitalize all letters.*/
}

h1 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 240%; /*Relative to HTML default we set above.*/
	word-spacing: 4px;
	letter-spacing: 1px; /*So the text is not so compressed.*/
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px; /*So the text is not so compressed.*/
}

h2:after {
	display: block;
	height: 2px;
	background-color: #e67e22;
	content: " "; /* We don't want any words to appear, so we put an empty space. */
	width: 100px;
	margin: 0 auto; /* Centered */
	margin-top: 30px;
}

h3 {
	font-size: 110%;
	margin-bottom: 15px;
}

/* ----- PARAGRAPHS ----- */

.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%; /* Centers this class. (15% + 70% + 15%) */
}

.box p {
	font-size: 90%;
	line-height: 145%;
}

/* ----- ICONS ----- */

.icon-big {
	font-size: 350%;
	display: block; /* To force a line break. */
	color: #e67e22;
	margin-bottom: 10px;
	/*text-align: center;*/
}

.icon-small {
	display: inline-block;
	width: 30px; /* Make all these icons the same width, aligning the text that is to their right. */
	text-align: center; /* Centers the icons within their divs. */
	color: #e67e22; /* Sets the icons' color to orange. */
	font-size: 120%; /* Makes the icon "fonts" a little bigger. */
	margin-right: 10px; /* Add space between icons and text. */
	
	/* Align text and icons: */
	line-height: 120%;
	vertical-align: middle;
	margin-top: -6px;
}

/* ----- LINKS ----- */

a:link,
a:visited {
	color: #e67e22;
	text-decoration: none; /* No default underline */
	border-bottom: 1px solid #e67e22; /* Our own custom underline */
	padding-bottom: 1px; /* Space for underline */
	transition: border-bottom 0.2s, color 0.2s; /* Transition takes 0.2 seconds. */
}

a:hover,
a:active {
	color: #555;
	border-bottom: 1px solid transparent;
}

/* ----- BUTTONS ----- */

/*The links will look the same before and after they've been clicked:*/
.btn:link,
.btn:visited,
input[type=submit] {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2s; /* Transition takes 0.2 seconds. */
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
	background-color: #e67e22;
	border: 1px solid #e67e22;
	color: #fff;
	margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
	border: 1px solid #e67e22;
	color: #e67e22;
}

/* Button color darkens when hovered or clicked: */
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
	background-color: #cf6d17;
}

/* Adds border when hovered or clicked, for consistency with btn-ghost: */
.btn-full:hover,
.btn-full:active,
input[type=submit] {
	border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
	border: 1px solid #cf6d17;
	color: #fff;
}

/*-------------------------------------
HEADER
-------------------------------------*/

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url(../img/food/hero.jpg);
	background-size: cover; /*Shows entire image*/
	background-position: center; /*Centers the background*/
	height: 100vh; /*Sets header height to match viewport height:*/
	background-attachment: fixed;
}

.hero-text-box {
	position: absolute; /*So that we can vertically AND horizontally center this box*/
	width: 1140px; /*Same width as the entire row*/
	top: 50%; /*Vertically aligns the top of this div with the center of its parent div*/
	left: 50%; /*Horizontally aligns the left side of this dive with the center of its parent div*/
	transform: translate(-50%, -50%); /*Shifts the div so that its horizontal and vertical centers are what align with its parent div's center*/
}

.logo {
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
}

.main-nav {
	float: right;
	list-style: none; /* Remove bullet points */
	margin-top: 55px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2;
	padding: 8px 0;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #e67e22;
}

/*-------------------------------------
FEATURES
-------------------------------------*/

.section-features .long-copy {
	margin-bottom: 30px;
}

.description {
	text-align: justify;
	letter-spacing: 1px;
}

/*-------------------------------------
MEALS
-------------------------------------*/

.section-meals {
	padding-top: 0;
}

.meals-showcase {
	list-style: none; /* Remove bullet points. */
	width: 100%;
}

.meals-showcase li {
	display: block;
	float: left;
	width: 25%;
}

.meal-photo {
	width: 100%; /* 100% of its parent container, which is the <li>. */
	margin: 0; /* Groups all the photos so they are touching. Overrides the normalize.css file. */
	overflow: hidden;
	background-color: #000; /* So that the opacity of the images fades toward black. */
}

.meal-photo img {
	opacity: 0.7;
	width: 100%; /* 100% of its parent container, which is the <figure>. */
	height: auto;
	transform: scale(1.15); /* Zoom in 15% so that when we hover, we can zoom back out to normal. */
	transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
	opacity: 1;
	transform: scale(1.03); /* When hovering, zoom back out to normal size -- plus 3% to prevent a white gap from appearing at the bottom of the image. */
}

/*-------------------------------------
HOW IT WORKS
-------------------------------------*/

.section-steps {
	background-color: #f4f4f4; /* Gives this section a slight offset to differentiate it from the other sections. */
}

/* iPhone image */
.steps-box:first-child {
	text-align: right; /* The iPhone image */
	padding-right: 3%;
	margin-top: 30px;
}

/* Numbers and Text Paragraphs */
.steps-box:last-child {
	padding-left: 3%;
	margin-top: 70px;
}

.app-screen {
	width: 40%; /* Percentage of the .steps-box that it's in. */
}

.works-step {
	margin-bottom: 50px;
}

.works-step:last-of-type {
	margin-bottom: 80px;
}

.works-step div {
	color: #e67e22; /* Sets the color of the numbers' text to orange. */
	border: 2px solid #e67e22; /* Adds a rectangular orange border around the numbers. */
	display: inline-block; /* Shrinks the border to fit the number. */
	border-radius: 50%; /* Makes the border a circle. */
	height: 55px;
	width: 55px; /* Same as height, so the border can be circular. */
	text-align: center; /* Centers the number horizontally inside of the div. */
	padding: 7px; /* Helps center the numbers vertically within the circles. */
	float: left; /* Brings the paragraph text up beside the numbers. */
	font-size: 150%; /* Makes the numbers bigger and helps center them vertically within the cirlces. */
	margin-right: 25px; /* Spacing between numbers and paragraph text. */
}

/* App Store Images */
.btn-app:link,
.btn-app:visited {
	border: 0;
}

.btn-app img {
	height: 50px;
	width: auto;
	margin-right: 10px;
}

/*-------------------------------------
CITIES
-------------------------------------*/

/* City Images */
.box img {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.city-feature {
	margin-bottom: 5px;
}

/*-------------------------------------
TESTIMONIALS
-------------------------------------*/

.section-testimonials {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) , url(../img/food/back-customers.jpg);
	background-size: cover; /*Shows entire image*/
	background-position: center; /*Centers the background*/
	/*height: 100vh;*/ /*Sets section (class) height to match viewport height:*/
	color: #fff;
	background-attachment: fixed;
}

blockquote {
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	text-align: justify;
	position: relative; /* Because it is the parent of `blockquote:before`, which we are setting to `position: absolute;`.*/
	margin-top: 40px;
}

blockquote:before {
	content: "\201C";
	font-size: 500%;
	display: block; /* Puts the quotation mark on its own line. */
	position: absolute;
	top: -5px;
	left: -5px;
}

cite {
	font-size: 90%;
	margin-top: 25px;
	display: block; /* Puts cite on a new line. */
}

cite img {
	height: 45px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: middle;
}

/*-------------------------------------
PLANS
-------------------------------------*/

.section-plans {
	background-color: #f4f4f4; /* Gives this section a slight offset to differentiate it from the other sections. */
}

.plan-box {
	background-color: #fff;
	border-radius: 5px;
	width: 90%;
	margin-left: 5%; /* Centers it inside the parent div. (100% - 90%) / 2 = 5% */
	box-shadow: 0 2px 2px #e3e3e3;
}

.plan-box div {
	padding: 15px;
	border-bottom: 1px solid #e8e8e8;
}

/* Subtle background color behind prices */
.plan-box div:first-child {
	background-color: #fcfcfc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/* Center the buttons */
.plan-box div:last-child {
	text-align: center;
	border-bottom: none; 
}

.plan-box ul li {
	list-style: none;
	padding: 5px 0;
}

.plan-price {
	font-size: 300%;
	font-weight: 100; /* Reduced because font-size is larger. */
	margin-bottom: 10px;
	color: #e67e22;
}

.plan-price span {
	font-size: 30%; /* Note that this is a percentage of the PARENT ELEMENT, which is 300%. */
	font-weight: 300; /* Increased back to normal because font-size is smaller again. */
}

.plan-price-meal {
	font-size: 80%;
}

/*-------------------------------------
CONTACT FORM
-------------------------------------*/

.contact-form {
	width: 60%;
	margin: 0 auto; /* Center the contact form. */
}

input[type=text] /* So that we DO NOT include the send button or checkbox */,
input[type=email] /* So that we DO NOT include the send button or checkbox */,
select,
textarea {
	width: 100%;
	padding: 7px; /* Make the fields bigger. */
	border-radius: 3px;
	border: 1px solid #ccc;
}

textarea {
	height: 100px;
}

input[type=checkbox] {
	margin: 10px 5px 10px 0;
}

.label {
	text-align: right;
}

/*-------------------------------------
FOOTER
-------------------------------------*/

footer {
	background-color: #333;
	padding: 50px;
	font-size: 80%;
}

footer p {
	color: #888;
	text-align: center;
	margin-top: 20px;
}

.footer-nav {
	list-style: none;
	float: left;
}

.social-links {
	list-style: none;
	float: right;
}

.footer-nav li,
.social-links li {
	display: inline-block;
	margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
	margin: 0; /* Override the right margin so that the last li can go all the way to the right. */
}

/* Override the settings applied to all other links on this page: */
.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	text-decoration: none;
	border: 0;
	color: #888;
	transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
	color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
	font-size: 160%; /* Increase size of social media icons. */
}

/* On hover, turn each icon the color of its official site: */
.ion-social-facebook:hover {
	color: #3b5998;
}

.ion-social-twitter:hover {
	color: #00aced;
}

.ion-social-googleplus:hover {
	color: #dd4b39;
}

.ion-social-instagram:hover {
	color: #517fa4;
}

/* Smooth transition for each hover: */
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
	transition: color 0.2s;
}